.staff-page {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .topbar {
    background-color: #004aad;
    color: white;
    padding: 5px 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .welcome-box h2 {
    margin-top:0;
    margin-left: 30px ;
    padding-top: 0;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to right, #004aad 50%, white 50%); /* Half blue, half white */
    object-fit: cover;
    border: 2px solid white; /* Optional: Border around the image */
  }
  
  .toggle-btn {
    position: absolute;
    top: 30px;
    left: 15px;
    background-color: #004aad;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  
  .sidebar {
    position: absolute;
    top: 62px;
    left: 0;
    width: 200px;
    height: calc(100% - 60px);
    background-color: #004aad;
    overflow-y: auto;
    z-index: 10;
    padding: 10px;
    padding-left: 3px;
  }
  .sidebar  button{
    background-color: #004aad;
    border: none;
    font-size: 14px;
    padding-left: 0;
    cursor: pointer;
    padding-bottom: 10px ;
    /* gap: 10px; */
  }
  .main-body {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex: 1;
    gap: 20px;
  }
  
  .holiday-box {
    flex: 1;
    max-width: 350px;
    overflow-y: auto;
    height: 300px;
    z-index: 1;
    background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  scroll-behavior: smooth;
  overflow-y: scroll; 
  border-radius: 1.5rem;
  border:1px solid #004aad;
  }
  .holiday-box h3{
    text-align: center;  
    margin: 0;
  }
  .holidays{
    font-size: 30rem;
  }
  
  .dynamic-content {
    flex: 2;
    max-width: 650px;
    overflow-y: scroll;
     height: 50vh;
     padding-right: 15px;
     margin-left: 20px;
     border-radius: 1rem;
     border:1px solid #004aad;
  }
  
  .calendar-box {
    flex: 1;
    max-width: 250px;
    margin-left: auto;  /* Ensures it stays on the right side */
    display: flex;
    justify-content: center;

  }
  .calendar-date-display {
    background-color: #f6f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
  }
  .staff-footer {
    text-align: center;
    padding: 15px;
    background-color: #eee;
    margin-top: auto;
  }
  
  .card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

  }
  .card h3{
    text-align: center;  
    margin: 0; 
  }
  