html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.top-section {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background: url('login-page-pic.png') no-repeat center center/cover;
    filter: blur(5px);
    z-index: -1;
}
.login-heading {
   
    max-width: 400px;
    max-height: 70vh;
    top: 0;
    z-index: 2;
    background-color: transparent;
    color: #003366;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 600;
    font-weight: bold;
    border-bottom: 2px solid #003366;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.input-grp {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  font-size: 16px;
}

.input-grp label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-grp input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.login-btn:hover {
    background-color: #004691;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa;
    position: absolute;
    bottom: 0;
    left: 0;
}
