<div class="top-section"></div>
<div class="login-page">
  <form (submit)="handleLogin($event)" class="login-form">
    <div class="input-grp">
      <div class="login-heading">Login</div>
      <label>Email</label>
      <input type="text" placeholder="johndoe123@gmail.com" [(ngModel)]="email" name="email" required>
    </div>

    <div class="input-grp">
      <label>Password</label>
      <div style="position: relative; display: inline-block;">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="password" [(ngModel)]="password" name="password" required>
        <button type="button" (click)="showPassword = !showPassword"
          style="position: absolute; right: 10px; background: none; border: none; cursor: pointer;">
          {{ showPassword ? "👁️" : "🙈" }}
        </button>
      </div>
    </div>

    <button type="submit" class="login-btn">Login</button>
  </form>
</div>

<footer class="footer">
  <p>S + R</p>
  <p>Copyright © 2024 Schopper Riegler - All Rights Reserved.</p>
</footer>
